@using Microsoft.AspNetCore.Mvc.Localization
@using TimeNet;
@inject IHtmlLocalizer<SharedResources> SharedResources

<div class="main-header side-header sticky" style="margin-bottom: -64px;">
    <div class="main-container container-fluid">
        <div class="main-header-left">
            <a class="main-header-menu-icon" href="javascript:void(0)"
               id="mainSidebarToggle"><span></span></a>
            <div class="hor-logo">
                <a class="main-logo" href="/">
                    <img src="~/admin/assets/img/brand/logo.png" class="header-brand-img desktop-logo" alt="logo">
                    <img src="~/admin/assets/img/brand/logo.png" class="header-brand-img desktop-logo-dark"
                         alt="logo">
                </a>
            </div>
        </div>
        <div class="main-header-center">
            <div class="responsive-logo">
                <a href="/">
                    <img src="~/admin/assets/img/brand/logo.png"
                         class="mobile-logo" alt="logo">
                </a> <a href="/">
                    <img src="~/admin/assets/img/brand/logo-light.png" class="mobile-logo-dark" alt="logo">
                </a>
            </div>
          @*   <div class="input-group">
                <div class="input-group-btn search-panel">
                    <select id="global-search-category" class="form-control select2 select2-hidden-accessible" tabindex="-1" aria-hidden="true">
                        <option value="Products">@SharedResources["Products"]</option>
                        <option value="Categories">@SharedResources["Categories"]</option>
                        <option value="Brands">@SharedResources["Brands"]</option>
                        <option value="Attributes">@SharedResources["Attributes"]</option>
                    </select>
                </div>
                <input id="global-search-text" type="search" class="form-control rounded-0"
                       placeholder="@SharedResources["Search"]...">
                <button onclick="globalSearch()" class="btn search-btn"><i class="fe fe-search"></i></button>
            </div> *@
        </div>
        <div class="main-header-right">
            <button class="navbar-toggler navresponsive-toggler" type="button"
                    data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent-4"
                    aria-controls="navbarSupportedContent-4" aria-expanded="false"
                    aria-label="Toggle navigation">
                <i class="fe fe-more-vertical header-icons navbar-toggler-icon"></i>
            </button>
            <!-- Navresponsive closed -->
            <div class="navbar navbar-expand-lg  nav nav-item  navbar-nav-right responsive-navbar navbar-dark  ">
                <div class="collapse navbar-collapse" id="navbarSupportedContent-4">
                    <div class="d-flex order-lg-2 ms-auto">
                        <!-- Theme-Layout -->
                        <div class="dropdown d-flex main-header-theme">
                            <a class="nav-link icon layout-setting">
                                <span class="dark-layout">
                                    <i class="fe fe-sun header-icons"></i>
                                </span> <span class="light-layout"> <i class="fe fe-moon header-icons"></i> </span>
                            </a>
                        </div>
                        <!-- Theme-Layout -->
                        <div class="dropdown main-profile-menu">
                            <a class="d-flex"
                               href="javascript:void(0)">
                                <div class="avatar avatar-md me-3 bg-primary" style="font-size: 20px;">AD</div>
                            </a>
                            <div class="dropdown-menu">
                                <div class="header-navheading">
                                    <h6 class="main-notification-title">Administrator</h6>
                                    <p class="main-notification-text">admin@admin.com</p>
                                </div>
                                <a class="dropdown-item" href="/account/Logout">
                                    <i class="fe fe-power"></i>
                                    Sign Out
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
          @*   <div class="d-flex header-setting-icon demo-icon fa-spin">
                <a class="nav-link icon"
                   href="javascript:void(0)"> <i class="fe fe-settings settings-icon "></i> </a>
            </div> *@
        </div>
    </div>
</div>