@using Microsoft.AspNetCore.Mvc.Localization
@using TimeNet;
@inject IHtmlLocalizer<SharedResources> SharedResources
@{
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
    var version = Guid.NewGuid;
}
<title>@SharedResources["Events"] / @SharedResources["Update"]</title>

<style>
    .image-active {
        border: 1px solid var( --primary-bg-color);
        padding: 2px;
        border-radius: 4px;
    }
</style>
<div ng-controller="UpdateProductController" ng-init="init('@ViewBag.Id')">
    <form class="forms-sample" id="updateProductform" name="updateProductform" ng-submit="updateProduct(false)">
        <div class="page-header">
            <div>
                <h2 class="main-content-title tx-24 mg-b-5">@SharedResources["Manage events"]</h2>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="#">@SharedResources["Events"]</a></li>
                    <li class="breadcrumb-item active" aria-current="page">@SharedResources["Update"]</li>
                </ol>
            </div>
            <div class="d-flex">
                <div class="justify-content-center">
                    <a href="/admin/event" class="btn btn-danger">@SharedResources["Cancel"]</a>
                    <button type="submit" class="btn btn-primary my-2 btn-icon-text">
                        <i class="fe fe-save me-2"></i> @SharedResources["Save"]
                    </button>
                </div>
            </div>
        </div>
        <div class="row row-sm">
            <div class="col-lg-7 col-md-12">
                <div class="card custom-card">
                    <div class="card-body">
                        <h4 class="mb-4">@SharedResources["Basic information"]</h4>
                        <div class="form-group">
                            <label for="name">@SharedResources["Event name"]</label>
                            <input type="text" class="form-control" id="name" name="product.name" required ng-model="product.name">
                            <span class="form-valid-msg">@SharedResources["Event name"] @SharedResources["is required"]</span>
                        </div>
                    
                        <div class="form-group">
                            <label class="custom-switch">
                                <input type="checkbox"
                                       name="custom-switch-checkbox" class="custom-switch-input" ng-model="product.published">
                                <span class="custom-switch-indicator"></span> <span class="custom-switch-description">
                                    @SharedResources["Published"]
                                </span>
                            </label>
                        </div>
                        <div class="form-group">
                            <label for="name">@SharedResources["Location"]</label>
                            <input type="text" class="form-control" ng-model="product.location">
                        </div>
                        <div class="form-group">
                            <label for="name">@SharedResources["Start date"]</label>
                            <input type="datetime-local" class="form-control" id="startDateUtc" ng-model="product.startDateUtc">
                        </div>

                        <div class="form-group">
                            <label for="name">@SharedResources["Description"]</label>
                            <summernote ng-model="product.description"></summernote>
                        </div>

                        <div class="form-group">
                            <label for="name">@SharedResources["Seating "]</label>
                            <input type="number" min="1" class="form-control" id="orderMaximumQuantity" name="product.orderMaximumQuantity" ng-model="product.orderMaximumQuantity">
                        </div>
                    </div>
                </div>
                <div class="card custom-card">
                    <div class="card-body">
                        <h4 class="mb-4">@SharedResources["Images"]</h4>
                        <div class="row">
                            <div ng-repeat="image in product.images" class="col-xl-2 col-lg-3 col-md-4 col-sm-6 mb-4">
                                <div class="image-box-preview">
                                    <img class="image-preview" src="{{convertUrlImage(image)}}" />
                                    <div class="middle">
                                        <button type="button" class='btn btn-danger' ng-click="deleteImage(image.id)"><i class='fa fa-trash'></i></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div>
                            <label for="file-upload" class="btn btn-primary btn-icon-text" style="margin: 0px;">
                                <i class="icon-cloud-upload btn-icon-prepend"></i>@SharedResources["Upload images"]
                            </label>
                            <input multiple id="file-upload" type="file" name="files" onchange="angular.element(this).scope().addImage(this)"
                                   style="display:none;" />
                        </div>
                        <div class="row">
                            <div class="panel panel-primary">
                                <div class="panel-body">
                                    <div class="form-group">
                                        <div id="image_preview" style="width:100%;">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-5 col-md-12">
                <div class="card custom-card">
                    <div class="card-body">
                        <h4 class="mb-4">@SharedResources["Speaker"]</h4>
                        <div class="form-group">
                            <label for="">@SharedResources["Speaker"] </label>
                            <select class="form-control select2" name="repeatSelectCategory" ng-model="product.speakerId">
                                <option ng-repeat="option in speakers" value="{{option.id}}" ng-bind="option.name"></option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="card custom-card">
                    <div class="card-body">
                        <h4 class="mb-4">@SharedResources["Pricing"]</h4>
                        <div class="form-group">
                            <label for="price">@SharedResources["Price"]</label>
                            <input type="number" class="form-control" ng-model="product.price" min="0">
                        </div>
                        <div class="form-group">
                            <label for="oldPrice">@SharedResources["Old Price"]</label>
                            <input type="number" class="form-control" ng-model="product.oldPrice" min="0">
                        </div>
                    </div>
                </div>
                <div class="card custom-card">
                    <div class="card-body">
                        <h4 class="mb-4">@SharedResources["Search engine optimization"]</h4>
                        <div class="form-group">
                            <label for="name">@SharedResources["Meta title"]</label>
                            <input type="text" class="form-control" id="name" name="product.metaTitle" ng-model="product.metaTitle">
                        </div>
                        <div class="form-group">
                            <label for="name">@SharedResources["Meta keywords"]</label>
                            <input type="text" class="form-control" id="metaKeywords" name="product.metaKeywords" ng-model="product.metaKeywords">
                        </div>
                        <div class="form-group">
                            <label for="name">@SharedResources["Meta description"]</label>
                            <div class="form-group">
                                <textarea class="form-control" rows="6" id="metaDescription" name="product.metaDescription" ng-model="product.metaDescription"></textarea>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card custom-card">
                    <div class="card-body">
                        <h4 class="mb-4">@SharedResources["Note"]</h4>
                        <div>
                            <div ng-repeat="note in product.notes" class="mb-4">
                                <div class="d-flex">
                                    <p style="width: 100%;">{{note}}</p>
                                    <button type="button" class='btn btn-danger' ng-click="deleteNote(note)"><i class='fa fa-trash'></i></button>
                                </div>
                            </div>
                            <div class="d-flex">
                                <input class="form-control" ng-model="note" />
                                <button type="button" ng-click="addNote()" class="btn btn-primary ms-2 btn-icon-text" style="min-width: 130px;">
                                    <i class="fe fe-save me-2"></i> @SharedResources["Add note"]
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

@section Scripts
{
    <script src="~/plugins/summernote-editor/summernote1.js"></script>
    <script src="~/plugins/bootstrap-tagsinput/dist/bootstrap-tagsinput.min.js"></script>
    <script src="~/admin/assets/js/services/CommonService.js?v=@version" asp-append-version="true"></script>
    <script src="~/admin/assets/js/services/SpeakerService.js?v=@version" asp-append-version="true"></script>
    <script src="~/admin/assets/js/services/CategoryService.js?v=@version" asp-append-version="true"></script>
    <script src="~/admin/assets/js/services/StorageService.js?v=@version" asp-append-version="true"></script>
    <script src="~/admin/assets/js/services/ProductAttributeService.js?v=@version" asp-append-version="true"></script>
    <script src="~/admin/assets/js/services/ProductService.js?v=@version" asp-append-version="true"></script>
    <script src="~/admin/assets/js/controllers/product/UpdateProductController.js?v=@version"></script>
}
