@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer Localizer
@{
    Layout = null;
    var returnUrl = @Context.Request.Query["returnurl"];
}
@model Time.Commerce.Contracts.Models.Identity.LoginCookiesModel
<!DOCTYPE html>
@{
    Random _random = new Random();
    int version = _random.Next(100);
    var color = "#1b2967"; //562187
    string primaryColor = color;
    string secondaryColor = color;
    string thirdColor = color;
}
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Login</title>
    <link rel="icon" href="~/src/img/logo.svg" type="image/x-icon" />
    <link rel="stylesheet" href="~/plugins/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/plugins/fontawesome-free/css/all.min.css">
    <link rel="stylesheet" href="~/plugins/icon-kit/dist/css/iconkit.min.css">
    <link rel="stylesheet" href="~/plugins/ionicons/dist/css/ionicons.min.css">
    <link rel="stylesheet" href="~/dist/css/theme.css">
    <script src="~/lib/angular/angular.min.js"></script>
    <style>
        :root {
            --primaryColor: @primaryColor;
            --secondaryColor: @secondaryColor;
            --thirdColor: @thirdColor;
        }

        .page-title {
            font-size: 32px;
            font-weight: bold;
        }

        .form-group .form-control {
            min-height: 50px !important;
        }

        button {
            width: 100%;
            min-height: 50px;
        }

        .auth-wrapper .authentication-form .form-group .form-control {
            padding-left: 20px !important;
        }

        .vcenter-item {
            display: flex;
            align-items: center;
        }
        /* Some custom styles to beautify this example */
        .wrapper {
            min-height: 100vh;
        }

        .box {
            width: 100%;
        }

        .text-color-customize {
            color: #78777E;
            font-size: 13px;
        }

        #spinner {
            display: flex;
            justify-content: center;
            align-items: center;
        }

            #spinner::after {
                content: "";
                width: 20px;
                height: 20px;
                border: 2px solid #fff;
                border-top: 3px solid var(--primaryColor);
                border-radius: 100%;
                will-change: transform;
                animation: spin 1s infinite linear
            }

        @@keyframes spin {
            from {
                transform: rotate(0deg);
            }

            to {
                transform: rotate(360deg);
            }
        }

        .alert-style {
            max-width: 80%;
            position: absolute;
            top: 15px;
            right: 15px;
        }

            .alert-style .close-icon {
                position: absolute;
                top: 5px;
                right: 5px;
            }
    </style>
</head>
<body id="ForgotPasswordController" ng-app="TimeSolutions" ng-controller="ForgotPasswordController" ng-init="init()">
    <img class="app-logo" alt="logo" src="~/img/logo.png" />
    <div class="alert bg-success alert-success text-white alert-style" role="alert" ng-if="successOpen">
        An email has been sent to recover your password. <i class="ik ik-x close-icon" ng-click="closeMessage()"></i>
    </div>
    <div class="alert bg-danger alert-danger text-white alert-style" role="alert" ng-if="failedOpen">
        Some thing went wrong. Try again please! <i class="ik ik-x close-icon" ng-click="closeMessage()"></i>
    </div>
    <div class="wrapper vcenter-item">
        <div class="box">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-md-6 text-center">
                        <h5 class="page-title">@Localizer["Recover password"]</h5>
                    </div>

                </div>
                <div class="row justify-content-center">
                    <div class="col-md-7 col-lg-5">
                        <div class="wrap">
                            <div class="login-wrap p-2">
                                <form class="form" id="forgotPasswordForm" name="forgotPasswordForm" ng-submit="submitForgotPassword()">
                                    <div class="form-group">
                                        <input class="form-control" type="email" placeholder="Email" required name="username" id="username" ng-model="email">
                                        <span class="form-valid-msg">@Localizer["Email"] @Localizer["is required"]</span>
                                        <p class="text-color-customize mt-2">@Localizer["Enter your email address and we'll send instructions to reset your password"]</p>
                                    </div>
                                    @{
                                        if (@ViewBag.Error != null)
                                        {
                                            <p style="font-size: 12px; color: #c21b17;">@ViewBag.Error</p>
                                        }
                                    }
                                    <div class="text-center mt-4">
                                        <button ng-if="!busy" ng-click="submitForgotPassword()" type="button" class="btn btn-primary" style="font-size: 14px !important;">
                                            @Localizer["Recover password"]
                                        </button>
                                        <button ng-if="busy" type="button" class="btn btn-primary" style="font-size: 14px !important;">
                                            <span id="spinner"><span style="margin-right: 10px;">Loadding...</span></span>
                                        </button>
                                    </div>

                                    <div class="row mt-4">
                                        <div class="col text-left">
                                            <div class="border-checkbox-section">
                                                <p class="text-color-customize">@Localizer["Already have it"]? <a href="/account/login" style="font-weight: bold;">@Localizer["Sign in"]</a></p>

                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        var app = angular.module('TimeSolutions', []);
        app.controller('ForgotPasswordController', function ($scope, $http) {
            $scope.busy = false
            $scope.email = ''
            $scope.successOpen = false
            $scope.failedOpen = false

            $scope.init = function () {
            }
            $scope.click = function () {
                 $scope.busy = !$scope.busy
            }
            $scope.submitForgotPassword = function () {
                if ($scope.forgotPasswordForm.$valid) {
                    $scope.busy =true
                    $http({
                        method: 'POST',
                        url: `/account/ForgotPassword?email=${$scope.email}`,
                    }).then(function mySuccess(response) {
                        if(response.data)
                             $scope.successOpen = true
                        else
                            $scope.failedOpen = true
                    }, function myError(response) {
                        $scope.failedOpen = true
                    });
                    $scope.busy =false
                } else {
                    return false;
                }
            }

            $scope.closeMessage = function(){
                $scope.successOpen = false
                $scope.failedOpen = false
            }
        })

    </script>
</body>
</html>